<?xml version="1.0"?>
<config>
  <modules>
    <NovaPC_Melhorenvio>
      <version>0.0.2</version>
      <depends>
        <Mage_Shipping />
      </depends>
    </NovaPC_Melhorenvio>
  </modules>
  <global>
    <sales>
      <quote>
        <item>
          <product_attributes>
            <altura/>
            <comprimento/>
            <largura/>
          </product_attributes>
        </item>
      </quote>
    </sales>
    <blocks>
      <melhorenvio>
        <class>NovaPC_Melhorenvio_Block</class>
      </melhorenvio>
    </blocks>
    <helpers>
      <melhorenvio>
        <class>NovaPC_Melhorenvio_Helper</class>
      </melhorenvio>
    </helpers>
  	<models>
  	  <melhorenvio>
    		<class>NovaPC_Melhorenvio_Model</class>
    		<resourceModel>melhorenvio_mysql4</resourceModel>
  	  </melhorenvio>
        <melhorenvio_mysql4>
            <class>NovaPC_Melhorenvio_Model_Mysql4</class>
            <entities>
                <orders>
                    <table>melhorenvio_orders</table>
                </orders>
            </entities>
        </melhorenvio_mysql4>
  	</models>
    <resources>
      <melhorenvio_setup>
        <setup>
          <module>NovaPC_Melhorenvio</module>
        </setup>
        <connection>
          <use>directory_setup</use>
        </connection> 
      </melhorenvio_setup>
      <melhorenvio_write>
        <connection>
          <use>core_write</use>
        </connection>
      </melhorenvio_write>
      <melhorenvio_read>
        <connection>
          <use>core_read</use>
        </connection>
      </melhorenvio_read>
    </resources>
    <events>
      <sales_order_save_after>
        <observers>
          <melhorenvio>
            <class>melhorenvio/observer</class>
            <method>getOrderSaveAfter</method>
          </melhorenvio>
        </observers>
      </sales_order_save_after>
    </events>
  </global> 
  <admin>
      <routers>
          <melhorenvio>
              <use>admin</use>
              <args>
                  <module>NovaPC_Melhorenvio</module>
                  <frontName>melhorenvio</frontName>
              </args>
          </melhorenvio>
          <adminhtml>
              <args>
                  <modules>
                      <melhorenvio before="Mage_Adminhtml">NovaPC_Melhorenvio_Adminhtml</melhorenvio>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>
  <adminhtml>
    <layout>
        <updates>
            <melhorenvio>
                <file>melhorenvio.xml</file>
            </melhorenvio>
        </updates>
    </layout>
    <acl>
      <resources>
        <all>
            <title>Allow Everything</title>
        </all> 
        <admin>
            <children>
                <system>
                    <children>
                        <config>
                            <children>
                                <melhorenvio>
                                    <title>NovaPC MelhorEnvio</title>
                                </melhorenvio>
                            </children>
                        </config>
                    </children>
                </system>
            </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>   
	<default>
    <carriers>
      <melhorenvio>
        <active>1</active>
        <model>melhorenvio/carrier_melhorenvio</model>
        <title>Melhor Envio</title>
        <exibir_prazo>1</exibir_prazo>
        <showmethod>1</showmethod>
        <sallowspecific>0</sallowspecific>
        <specificcountry>BR</specificcountry>
        <sort_order>0</sort_order>
      </melhorenvio>
    </carriers>
  </default>
</config> 